
div.main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

div.stanza {
    margin-top: 144pt;
}



h2 {
   font-size: 100%;
   font-family: Garamond, Times New Roman;
}

div.line {
   font-size: 150%;
   font-family: Garamond, Times New Roman;
}


div.ctrl {
    float: right;
}

div.spacetime {
    display: inline-block;
    margin-left: 20px;
}

div.elements {
    display: inline-block;
}

div.row {
}

div.cell {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #eeeeee;
    margin-top: .2em;
    margin-botton: .2em
    padding: 0px;
    vertical-align: middle
}

p.cell { 
    text-align: center;
    font-weight: bold;
    font-size: 80%;
    font-family: Garamond, Times New Roman;
}

a.room {
    text-decoration: none;
}

div.active {
    background: #cccccc;
