
div.main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

div.stanza {
    border: 1px solid gray
}



h2 {
   font-size: 100%;
   font-family: Garamond, Times New Roman;
   margin-top: 36pt;
}

div.lines {
   font-size: 150%;
   font-family: Garamond, Times New Roman;
   border: 1px solid yellow;
}


div.ctrl {
    border: 1px solid green;
}

div.spacetime {
    border: 1px solid blue;
}

div.elements {
    border: 1px solid red;
}

div.row {
    border: 1px dotted orange;
}
